*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: coral;
    height: 250px;
    width: 100%;
   
}
.on{
    text-align: center;
}

.child{
    text-align: center;
}
.body{
    background-color: pink;
    height: 250px;
    width: 100%;
}
.footer{
    background-color: lightsalmon;
    height: 250px;
    width: 100%;
}
.btn{ 
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
}