@import "tailwindcss";

.head{
    height: 130px;
    width: 100%;
    background-color: black;
}
.btr{
    border-bottom-right-radius: 700px;
    background-image: url(mimi.jpg);
    background-size: 100% 100%;
}
.pp{
    position: absolute;
    left: 680px;
}
.mood{
    border-top-left-radius: 80%;
     background-image: url(manface.jpg);
    background-size: 100% 100%;
}
.mon{
     border-top-left-radius: 80%;
     background-image: url(mma.jpg);
    background-size: 100% 100%;
}
.life{
     border-top-right-radius: 95%;
     background-image: url(cam.jpg);
    background-size: 100% 100%;
}
.guard{
     border-bottom-right-radius: 95%;
     background-image: url(write.jpg);
    background-size: 100% 100%;
}
.sobber{
    position: fixed;
}
.flower{
background-image: url(google.jpg);
    background-size: 100% 100%;
}
.floor{
background-image: url(asana.jpg);
    background-size: 100% 100%;
}
.fin{
background-image: url(spotify.jpg);
    background-size: 100% 100%;
}
.fine{
background-image: url(hubspot.jpg);
    background-size: 100% 100%;
}
.lack{
    background-image: url(abd.jpg);
    background-size: 100% 100%;
}
.fly{
    cursor: pointer;
}
.loud{
    background-image: url(abd.jpg);
    background-size: 100% 100%;
}
.monk{
    border-bottom-right-radius: 700px;
    background-image: url(mimi.jpg);
    background-size: 100% 100%;
}
.pee{
    position: absolute;
     left: 650px;
}
.food{
    border-radius: 100%;
     background-image: url(man1.jpg);
    background-size: 100% 100%;
}
.lap{
    border-radius: 100%;
     background-image: url(woman1.jpg);
    background-size: 100% 100%;
}
.lab{
    border-radius: 100%;
     background-image: url(woman2.jpg);
    background-size: 100% 100%;
}
.wake{
    border-top-right-radius: 700px;
    background-image: url(lap3.jpg);
    background-size: 100% 100%;
}
.box{
    border-bottom-left-radius: 700px;
    background-image: url(lap.jpg);
    background-size: 100% 100%;
}
.lamp{
    background-image: url(lap2.jpg);
    background-size: 100% 100%;
}
.hat1{
    background-image: url(man1.jpg);
    background-size: 100% 100%;
}
.hat2{
    background-image: url(woman2.jpg);
    background-size: 100% 100%;
}
.hat3{
    background-image: url(woman1.jpg);
    background-size: 100% 100%;
}
.mma{
    cursor: pointer;
}
.mom{
    cursor: pointer;
    position: relative;
}
.mom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease;
}

.imgd{
    opacity: 1;
}
.imgh{
    opacity: 0;
}
.mom:hover .imgd {
opacity: 0;
}
.mom:hover .imgh{
    opacity: 1;
}



.mom2{
    cursor: pointer;
    position: relative;
}
.mom2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease;
}

.imgd2{
    opacity: 1;
}
.imgh2{
    opacity: 0;
}
.mom2:hover .imgd2 {
opacity: 0;
}
.mom2:hover .imgh2{
    opacity: 1;
}





.mom3{
    cursor: pointer;
    position: relative;
}
.mom3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease;
}

.imgd3{
    opacity: 1;
}
.imgh3{
    opacity: 0;
}
.mom3:hover .imgd3 {
opacity: 0;
}
.mom3:hover .imgh3{
    opacity: 1;
}

.procard{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 250px;
}
.procard img{
    width: 100%;
    transition: transform 0.3s ease;
}
.procard:hover img{
    transform: scale(1.05)
}
.kiss{
    background-image: url(glass.jpg);
    background-size: 84% 100%;
}

.kiss2{
     background-image: url(bag.jpg);
    background-size: 100% 100%;
}
.kiss3{
     background-image: url(wallet.jpg);
    background-size: 100% 100%;
}



#images{
                margin-top: 100px;
            }

            .con{
            display: flex;
            gap: 50px;
            margin-top: 30px;
        }