@import "tailwindcss";

.top{
    height: 70px;
    width: 100%;
    background-color: red;
    display: flex;
}
.path{
    clip-path: polygon(0 29%, 100% 2%, 100% 100%, 0% 100%);
    height: 400px;
    width: 98%;
    background-color: green;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bold{
    font-size: 50px;
    color: black;
}
.parent{
    height: 600px;
    width: 98%;
    /* background-color: yellow; */
    margin-left: 11px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.box1{
    height: 600px;
    width: 40%;
    /* background-color: red; */
}
.box2{
    height: 600px;
    width: 60%;
}
.box3{
    height: 600px;
    width: 40%;
    /* background-color: red; */
}
.past{
    border-bottom: 1px solid white;
}